@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script:wght@400;500;600;700&family=Montserrat:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  font-weight: 500;
}

.logo {
  font-family: "Allura", cursive;
}

span {
  display: inline-flex;
}
canvas {
  touch-action: auto !important ;
}

.hero-btn-darkTheme {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
  background: #ecce8e;
  color: #270722;
  box-shadow: 0 0 5px #ecce8e, 0 0 25px #ecce8e, 0 0 50px #ecce8e,
    0 0 200px #ecce8e;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.hero-btn-lightTheme {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
  background: #270722;
  color: #ecce8e;
  box-shadow: 0 0 5px #270722, 0 0 25px #270722, 0 0 50px #270722,
    0 0 200px #270722;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
